.App {
  padding: 1em;
}
.App .inputContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 0 1em;
  background-color: var(--main-bg-color);
}

.App input {
  padding: .5em 1em;
  font-size: large;
  width: 75vw;
  margin: auto;
  border-radius: 3px;
  border: none;
}